.tenBoxes{
    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    padding: 15px;
    align-content: center;
    @media @mobile {
        flex-flow: column-reverse nowrap;
    }
        .box{
            width: 32%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            font-variant: small-caps;
            padding-bottom: 8px;
            @media @mobile {
                width: 100%;
                font-size: 1.6rem
            }
                img{
                    border-radius: 100px;
                    object-fit: contain;
                    @media @mobile {
                        border-radius: 180px;
                        width: 100%;
                    }
                }

        }
}

